
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming

@use '@angular/material' as mat;


html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: 'Koh Santepheap',
    density: 0,
  ));

  --md-sys-color-primary: #0D375B;
  --md-sys-color-on-primary: #ffffff;

  --md-sys-color-tertiary: #9F8668;
  --md-sys-color-on-tertiary: #ffffff;

}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: 'Koh Santepheap', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
